@page
@model QuotesModel
@{
    ViewData["Title"] = "Quotes";
}

@if (Model.GuildIdIsValid)
{
    <h1>Quotes - @Core.DiscordClient.Guilds.First(g => g.Id == Model.GuildId).Name</h1>

    <div id="gb-quote-search" class="gb-quote">
        <input placeholder="Search..." id="search" class="gb-quote-search" oninput="updateSearch()" type="text">
    </div>
    @foreach (GenericBot.Entities.Quote quote in Model.Quotes)
    {
        <div class="gb-quote">
            <span class="gb-quote-id-box"><span class="gb-quote-id">@quote.Id</span></span> 
            <span class="gb-quote-content">@quote.Content</span>
        </div>
    }

    <script>
        function updateSearch() {
            console.log(document.getElementById("search").value.toLowerCase());
            Array.prototype.forEach.call(document.getElementsByClassName("gb-quote"), function (quote) {
                if (quote.id == "gb-quote-search") {
                    return;
                }
                if (document.getElementById("search").value == "") {
                    quote.style.display = "flex";
                }
                else if (quote.innerText.toLowerCase().includes(document.getElementById("search").value.toLowerCase())) {
                    quote.style.display = "flex";
                }
                else {
                    quote.style.display = "none";
                }
            });
        }
    </script>
}
else
{
    <h1>Quotes</h1>
    <p>It looks like that's not a valid GuildId. Run >quotes in any server with GenericBot to get a valid link!</p>
}