@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-color: #282c34;
  min-height: calc(100vh - 18px);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 230px;
  padding-left: 24px;
  padding-top: 18px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.PageTitle{
  border-bottom: 1.5px solid rgb(186, 174, 255);
  padding-bottom: 2px;
  width: 75%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
