.SidebarLink{
    background-color: inherit;
    text-align: left;
    color: #22D3D3;
    padding: 4px 4px 4px 12px;
    -o-transition: .3s;
    -ms-transition:.3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}
.SidebarLink::before{
    content: "> ";
}
.SidebarLink:hover {
    background-color: #213152;
}

a {
    text-decoration: none;
    color: inherit;
}